body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 40px;
}

.size-ctrl {
    display: flex;
    gap: 15px;
}

.size-ctrl .current-size {
    margin-top: 1%;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.container {
    display:grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 900px;
    height: 900px;
    margin: 35px;
    border: 3px groove black;
}


.square {
    border: 1px solid black;
}

.hovered {
    background: black;
}